
body {
  height: 100vh;
}

.header,
.footer {
  background-color: #1F2937;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 10px 300px 100px 300px;
}
/*flex the header_logo_link*/
div.header_logo_link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
} 
.logo {
  font-size: 24px;
  color: #E5E7EB;
}
/*flex the header link*/
ul {
  font-size: 18px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
/*edit the link*/
a {
  color: #E5E7EB;
  text-decoration: none;
}
/*flex header_hero_pic*/
div.header_hero_pic {
  display: flex;
  justify-content: space-between;
}
/*edit header hero*/
.header_hero {
  width: 400px;
  flex-shrink: 0;
}
.main_text {
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
}
.secondary_text {
  font-size: 18px;
  color: #E5E7EB;
}
/*edit header button*/
.header_button {
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
/*edit content*/
/*edit content part 1*/
/*edit content part 1 text*/
.content_information_part_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  padding: 30px;
}
/*edit content illustration part 1*/
.content_illustration {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 30px; 
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.illustration_text {
  width: 150px;
}
/*edit content_part_2*/
.content_part_2 {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_part_2_quote {
  font-size: 36px;
  font-family: italic;
  color: #1F2937;
  width: 720px;
  padding: 0;
  margin-bottom: 0;
  
}
.thor_quote {
  display: flex;
  flex-direction: column;
}
div.thor {
  margin: 0;
  align-self: flex-end;
}
/*par 3*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.small_container {
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  width: 750px;
  padding: 20px 45px;
  border-radius: 5px;
}
.content_button {
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 15px;
  border-color: white;
  border-radius: 5px;
  margin-top: 10px;
}
/*footer*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

